#PreviousButton{
	width:10%; 
	position: relative; 
	left: -490px; 
	top: -275px;
	z-index : 10;
}

#NextButton{
	width:10%; 
	position: relative; 
	right: 0px; 
	top: -275px;
	z-index : 10;
}

#positionslide {
	margin: 0 auto;
	text-align: right;
    position: relative;
	width: 940px;
}

#slides{
	z-index : 1;
	height: 480px;
	display:none;
	box-shadow : 0 1px 3px rgba(0 , 0 , 0 , .3),
				 0 3px 5px rgba(0 , 0 , 0 , .2);
	position: relative;
	margin: auto;
	left: 150px;
}

#categories {
	margin: -300px auto;
	text-align: left;
    position: relative;
	width: 940px;
	list-style-type: none;
	display: block;
	padding: 15px 0 0 0;
}

li a {
	display:block;
	width:100px;
	color:black;
	text-decoration:none;
	padding:5px;
}

li {
	float:left;
	margin:auto;
	padding:0;
}

#text {
	text-align: justify;
	font-family: Courier New;
	position: relative;
	width: 940px;
	margin: 560px auto;
}

.footer {
	margin: -450px auto;
}