@font-face {
    font-family: "Helvetica Neue";
    src: url('../medias/fonts/HelveticaNeue/helvetica-neue1.ttf');
}

@font-face {
    font-family: "Helvetica Neue Bold";
    font-weight: bold;
    src: url('../medias/fonts/HelveticaNeue/helvetica-neue-bold.ttf');
}

@font-face {
    font-family: "Rokkitt";
    src: url('../medias/fonts/Rokkitt/Rokkitt.otf');
}
