#categories {
	text-align: center;
    position: relative;
	font-size: 20px;
	list-style-type: none;
    width: 50px;
    padding: 5px;
	margin: auto;
	top: -130px;
	left: -450px;
}


#categories a:hover {
	color: orange;
}

#text {
	text-align: justify;
	font-family: Courier New;
	position: relative;
	width: 940px;
	margin: 180px auto 0 auto;
}

.footer {
	margin: 50px 0 0 0;
}