#PreviousButton{
	width:10%; 
	position: relative; 
	left: -490px; 
	top: -275px;
	z-index : 10;
}

#NextButton{
	width:10%; 
	position: relative; 
	right: 0px; 
	top: -275px;
	z-index : 10;
}

#positionslide {
	margin: 0 auto;
	text-align: right;
    position: relative;
	width: 940px;
}

#slides{
	z-index : 1;
	height: 480px;
	display:none;
	box-shadow : 0 1px 3px rgba(0 , 0 , 0 , .3),
				 0 3px 5px rgba(0 , 0 , 0 , .2);
	position: relative;
	margin: auto;
	left: 150px;
	top: 104px;
}