#leonnie {
	text-align: center;
	font-size: 70px;
}

li {
	float:left;
	margin:auto;
	padding:0;
	background-color:white;
}
li a {
	display: block;
	width:150px;
	color: black;
	text-decoration: none;
	padding:5px;
}
.categories:hover, .souscategories:hover {
	color: orange;
}
 
ul li ul {
	display:none;
}
 
ul li:hover ul {
	display:block;
}
li:hover ul li {
	float:none;
}
 
.souscategories li {
	position:absolute;
}

#menu {
	font-family: verdana;
	list-style-type: none;
	text-align: center;
	display: table;
	width: 65%;
	margin: 50px auto;
	padding: 12px;
	border-radius: 3px;
	box-shadow: 	0 1px 3px rgba(0, 0, 0, .3),
			0 3px 5px rgba(0, 0, 0, .2),
			0 5px 10px rgba(0, 0, 0, .2),
			0 20px 20px rgba(0, 0, 0, .15);
}

#sousmenu{
	font-size: 90%;
	display: hidden;
	margin: 0;
	padding:0;
	list-style-type: none;
}

#sousmenu:hover {
	display: table;
	width: 60%;
	padding: 0;
}

.categories , .souscategories {
	display: block;
	text-align: center;
	color: rgba(0, 0, 0, .7);
	text-decoration: none;
}

.categories:hover, .categories:focus{
	background: rgba(200,200,200,.2);
}

#PreviousButton{
	width:10%; 
	position: relative; 
	left: 0px; 
	top: -340px;
	z-index : 10;
}

#NextButton{
	width:10%; 
	position: relative; 
	right: -680px; 
	top: -340px;
	z-index : 10;
}


#slides{
	margin : auto;
	z-index : 1;
}

